body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
}

.header{
    display: flex;
    align-items: center;
    gap: 2vw;
}

.boxes{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 1vh;
    height: 88vh;
    width: 88vw;
    background-color: black;
    border: 1vh solid black;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25vh;
    background-color: whitesmoke;
    color: black;
}

.box.box.noMark:hover{
    color : rgba(0, 0, 0, 0.5);
}

.box.noMark{
    color: transparent;
}


.patternchoice{
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%) scale(0);
    background-color: whitesmoke;
    padding: 3vh;
    border-radius: 1.625em;
    height: 45vh;
    width: 45vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid black;

}

.patternchoice button{
    height: 20vh;
    width: 20vh;
}

.patternchoice.active {
    transform: translate(-50%, -50%) scale(1);
}


.graybg {
    position:fixed;
    top: 0%;
    left: 0%;
    width: 100vw;
    height: 100vh;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);

}

.graybg.active{
    display: block;
}

.end{
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%) scale(0);
    background-color: whitesmoke;
    padding: 3vh;
    border-radius: 1.625em;
    height: 45vh;
    width: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 2px solid black;

}


.end.active {
    transform: translate(-50%, -50%) scale(1);
}
